<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.assignment">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".NoteEditor"></activity>
        <activity android:name=".Notes" />
        <activity android:name=".CountryInfoActivity" />
        <activity android:name=".CountryInfoFragment" />
        <activity android:name=".learnScreen" />
        <activity android:name=".Level3Quiz" />
        <activity android:name=".Level2Quiz" />
        <activity android:name=".ResultsScreen" />
        <activity android:name=".helpScreen" />
        <activity android:name=".selectLevel" />
        <activity android:name=".MainMenu" />
        <activity
            android:name=".Level1Quiz"
            android:label="Quiz"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>